In [23]:
import json
import tweepy
import pandas as pd
import operator

In [6]:
# Twitter Authorization
auth = tweepy.OAuthHandler("7ORmqhp1lXxpazSzpTGVVNAv6", 
	"KXwjMsUcf0cKLIZ94D76GYwJeAhQ2qbUlxp2OnENVDQXIAz3Nh")
auth.set_access_token("3530340917-urj3UuRWL6frj2FtdhQjj6v0PpVF0PoJy6hp6og", 
	"eW9ZyEZID417pFtZDTLwUI95u60TCcict290qxnBIXleE")
api = tweepy.API(auth)

In [28]:
with open("../list.json") as f:
    data = json.load(f)
f.close()
    
with open("../counter.json") as g:
    counter = json.load(g)
g.close()

sorted_counter = sorted(counter.items(), key=operator.itemgetter(1))
countries = sorted_counter[-10:]

In [7]:
def get_2000_tweets(api, ids, screen_name):
    tweets = []
    x = api.user_timeline(screen_name, count)
    old_id = x[-1].id-1
    while(len(tweets) <= 2000 and len(x)>0):
        for each in x:
            if(each.id not in ids):
                ids.add(each.id)
                tweets.append(each.text)
        x = api.user_timeline(screen_name, count=200, max_id=old_id)
        if(len(x) > 0):
            old_id = x[-1].id-1
    return [tweets, ids, old_id]

In [8]:
final_data = {}
old_ids = {}

In [15]:
with open("../counter.json") as f:
    d = json.load(f)

In [21]:
sorted_x[-10:]

[('Colombia', 25),
 ('Israel', 26),
 ('Japan', 27),
 ('Iran', 31),
 ('Italy', 40),
 ('Turkey', 44),
 ('India', 48),
 ('France', 49),
 ('Russia', 50),
 ('United States', 53)]

In [2]:
import pandas as pd
import json

In [3]:
pd.read_json("alpha_3.json")

    alpha-3  country-code                                               name
0       AFG             4                                        Afghanistan
1       ALA           248                                      Åland Islands
2       ALB             8                                            Albania
3       DZA            12                                            Algeria
4       ASM            16                                     American Samoa
5       AND            20                                            Andorra
6       AGO            24                                             Angola
7       AIA           660                                           Anguilla
8       ATA            10                                         Antarctica
9       ATG            28                                Antigua and Barbuda
10      ARG            32                                          Argentina
11      ARM            51                                            Armenia
12      ABW           533                                              Aruba
13      AUS            36                                          Australia
14      AUT            40                                            Austria
15      AZE            31                                         Azerbaijan
16      BHS            44                                            Bahamas
17      BHR            48                                            Bahrain
18      BGD            50                                         Bangladesh
19      BRB            52                                           Barbados
20      BLR           112                                            Belarus
21      BEL            56                                            Belgium
22      BLZ            84                                             Belize
23      BEN           204                                              Benin
24      BMU            60                                            Bermuda
25      BTN            64                                             Bhutan
26      BOL            68                   Bolivia (Plurinational State of)
27      BES           535                   Bonaire, Sint Eustatius and Saba
28      BIH            70                             Bosnia and Herzegovina
29      BWA            72                                           Botswana
..      ...           ...                                                ...
219     TZA           834                       Tanzania, United Republic of
220     THA           764                                           Thailand
221     TLS           626                                        Timor-Leste
222     TGO           768                                               Togo
223     TKL           772                                            Tokelau
224     TON           776                                              Tonga
225     TTO           780                                Trinidad and Tobago
226     TUN           788                                            Tunisia
227     TUR           792                                             Turkey
228     TKM           795                                       Turkmenistan
229     TCA           796                           Turks and Caicos Islands
230     TUV           798                                             Tuvalu
231     UGA           800                                             Uganda
232     UKR           804                                            Ukraine
233     ARE           784                               United Arab Emirates
234     GBR           826  United Kingdom of Great Britain and Northern I...
235     USA           840                           United States of America
236     UMI           581               United States Minor Outlying Islands
237     URY           858                                            Uruguay
238     UZB           860                                         Uzbekistan
239     VUT           548                                            Vanuatu
240     VEN           862                 Venezuela (Bolivarian Republic of)
241     VNM           704                                           Viet Nam
242     VGB            92                           Virgin Islands (British)
243     VIR           850                              Virgin Islands (U.S.)
244     WLF           876                                  Wallis and Futuna
245     ESH           732                                     Western Sahara
246     YEM           887                                              Yemen
247     ZMB           894                                             Zambia
248     ZWE           716                                           Zimbabwe

[249 rows x 3 columns]